/* Place all the styles related to the hotels controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/ 
*/

.hotel_name {
  color: #FFB55B;
  font-weight: bolder;
}

/*img {
  display: block;
  height: auto;
  max-width: 100%;
}*/

.mainslider_container {
  display: block;
  overflow: hidden;
  margin: 20px auto 0 auto;
  width: 80%;
  height: 500px;
}

#slider1_container {
  padding: 0px;
}

/*jssor slider arrow navigator skin 19 css*/
.jssora19l, .jssora19r, .jssora19ldn, .jssora19rdn {
  position: absolute;
  cursor: pointer;
  display: block;
  background: url(/assets/a19.png) no-repeat;
  overflow:hidden;
}
.jssora19l { 
  background-position: -5px -35px; 
}
.jssora19r { 
  background-position: -65px -35px; 
}
.jssora19l:hover { 
  background-position: -125px -35px; 
}
.jssora19r:hover { 
  background-position: -185px -35px; 
}
.jssora19ldn { 
  background-position: -245px -35px; 
}
.jssora19rdn { 
  background-position: -305px -35px; 
}

/*bullet navigator skin 14*/
.jssorb14 div, .jssorb14 div:hover, .jssorb14 .av {
  background: url(/assets/b14.png) no-repeat;
  overflow:hidden;
  cursor: pointer;
}
.jssorb14 div { 
  background-position: -9px -9px; 
}
.jssorb14 div:hover, .jssorb14 .av:hover { 
  background-position: -39px -9px; 
}
.jssorb14 .av { 
  background-position: -69px -9px; 
}
.jssorb14 .dn, .jssorb14 .dn:hover { 
  background-position: -99px -9px; 
}
