.rooms_container {
  background-color: black;
  /*opacity: .9;*/
  color: white;

}

.inner_rooms_container {
  padding-top: 30px;
  padding-left: 20px;
  padding-right: 70px;
  margin-left: 50px;
}

.policy_container {
  text-align: center;
}