.rooms_container {
  background-color: #6E0000;
  /*opacity: .9;*/
  color: #eee;
}

.inner_rooms_container {
  padding-top: 35px;
  padding-left: 20px;
  padding-right: 70px;
  padding-bottom: 20px;
  margin-left: 50px;
}

.policy_container {
  text-align: center;
}
