<footer>
  <a href="https://www.facebook.com/tahananhotel" target="_blank"><img src="/assets/fbicon.png"/ style="height:30px; width=30px;"></a>
  <h4 class="planstay_header">Plan Your Stay</h4>
  <div class="contact_container">
    CALL US AT<br>
    Tel. No.: (049) 562-5855 or (049) 562-5851<br>
    Manila Line: (02) 520-6089<br>
    USA Line: (925) 478-6038<br>
    Mobile No.:<br>
    0917-592-2839 (Globe)<br>
    0917-809-3887 (Globe/Viber)<br>
    0939-938-7362 (Smart/Viber)<br><br>
    EMAIL US AT<br>
    <a href="mailto:admin@tahanan.info?Subject=Hello" target="_top">admin@tahanan.info</a><br>
  </div>
</footer>