<div class="inner_body">
<div class="container">
  <h3>Booking</h3>

  <div class="row">
    <div class="col-sm-6">
      <p>Please send us the following details to book your inquiry. Thank you!</p>
      <form>

      </form>
    </div>
    <div class="col-sm-6">
      <h4>Terms of Payment</h4>
      <ul>
        <li>Credit Card Payment: VISA, Master Card, and AMEX</li>
        <li>For guaranteed reservation, deposit to our account below:</li>
        <ul>
          <li>Banco De Oro (BDO)</li>
          <li>Bank of the Philippines Islands (BPI)</li>
          <li>Note:</li>
          <ul>
            <li>Contact or email us for bank account details.</li>
            <li>Please scan and email to admin@tahanan.info, then present us the original deposit slip upon check in.</li>
            <li>Present at least 1 valid ID.</li>
          </ul>
        </ul>
        <li>Over the counter payment</li>
      </ul> 
    </div>
  </div>
</div>
</div>