<div class="inner_body">
<div class="container">
  <h3>Events</h3>

  <p>
    Tahanan has held events from weddings, birthdays, baptismals, and more. If you would like to hold an 
    event here, we'd be happy to help accomodate your needs.
    <a href="#contact_info">Contact us</a> for more information.
  </p><br> 

  <div class="popup-gallery">
    <a href="http://www.tahananhotel.com/skins/default/images/events/large/eb2e3e757af7df9337fa4b5bfe9f908d932affcb36b2b5e42470efa118d3daf0.jpg" title="Wedding">
      <img src="http://www.tahananhotel.com/skins/default/images/events/large/eb2e3e757af7df9337fa4b5bfe9f908d932affcb36b2b5e42470efa118d3daf0.jpg" width="350" height="200" />
    </a>
    <a href="http://www.tahananhotel.com/skins/default/images/events/large/6c93316f176850b290745170a25fd8ae02471fe82dffbf6cb62bf6ecaba6771e.jpg" title="Wedding">
      <img src="http://www.tahananhotel.com/skins/default/images/events/large/6c93316f176850b290745170a25fd8ae02471fe82dffbf6cb62bf6ecaba6771e.jpg" width="350" height="200"/>
    </a>
    <!-- <a href="http://www.tahananhotel.com/skins/default/images/events/large/7e1f76d27e18f24b90417611690e8ed32986d5e0111d20fd64afa64191680b7c.jpg" title="Wedding">
      <img src="http://www.tahananhotel.com/skins/default/images/events/large/7e1f76d27e18f24b90417611690e8ed32986d5e0111d20fd64afa64191680b7c.jpg" width="350" height="200"/>
    </a> -->
    <a href="http://www.tahananhotel.com/skins/default/images/events/large/ec2e94a7c708a194fc2084a0cb65cae1ce52a2ac2df08b3b7020b0bdf0f0423b.jpg" title="Baptismal">
      <img src="http://www.tahananhotel.com/skins/default/images/events/large/ec2e94a7c708a194fc2084a0cb65cae1ce52a2ac2df08b3b7020b0bdf0f0423b.jpg" width="350" height="200"/>
    </a>
    <a href="http://www.tahananhotel.com/skins/default/images/events/large/8aefbf8d261c927378d528cb0c3cdbacaa23134bea1307b69c5c41d85dfd5a24.jpg" title="Birthday">
      <img src="http://www.tahananhotel.com/skins/default/images/events/large/8aefbf8d261c927378d528cb0c3cdbacaa23134bea1307b69c5c41d85dfd5a24.jpg" width="350" height="200"/>
    </a>
    <a href="http://www.tahananhotel.com/skins/default/images/events/large/bc5545be51d1dd56c0f06629ac416ff43d24d64bb4964cd361dd43d7d9747659.jpg" title="Sightseeing">
      <img src="http://www.tahananhotel.com/skins/default/images/events/large/bc5545be51d1dd56c0f06629ac416ff43d24d64bb4964cd361dd43d7d9747659.jpg" width="350" height="200"/>
    </a>
    <a href="http://www.tahananhotel.com/skins/default/images/events/large/eeb55710497a6761a090a89ff42b4f7ea0cfe31d97d44dd27dde9cb561460848.jpg" title="Tour">
      <img src="http://www.tahananhotel.com/skins/default/images/events/large/eeb55710497a6761a090a89ff42b4f7ea0cfe31d97d44dd27dde9cb561460848.jpg" width="350" height="200"/>
    </a>
    <!-- <a href="http://www.tahananhotel.com/skins/default/images/events/large/bf6390f3da6434b5a95aa1a07ed8408f1474c302d6c21a5e55ee7aac780368cb.jpg" title="Resort Swimmingpool">
      <img src="http://www.tahananhotel.com/skins/default/images/events/large/bf6390f3da6434b5a95aa1a07ed8408f1474c302d6c21a5e55ee7aac780368cb.jpg" width="604" height="200"/>
    </a> -->
  </div>
  <br>
</div>
</div>

<div id="contact_info">
<%= render :partial => "contactinfo" %>
</div>