<div class="container">
  <h3>Events</h3>

  <p>
    Tahanan has held events from weddings, birthdays, baptismals, and more. If you would like hold an 
    event here, we'd be happy to help accomodate your needs.
    <a href="/tahanan#contact_info">Contact us</a> for more information.
  </p>
</div>