<div class="container">
  <p><span class="hotel_name">Tahanan ni Aling Meding Hotel</span> is a tribute to the Borja sibling's parents, especially
    their mother (Aling Meding), who kept hearth and home warm. The hotel is in fact thier very own
    mansion for relaxation and family reunions and other events when they fly in from the States. But
    now when you are in San Pablo City, it is your second home. With gracious hospitality and courteous
    service from Tahanan's staff, your stay in San Pablo's secret hide-away will surely be an experience
    to savor and remember.
  </p>
</div>