<div class="container">
  <p><span class="hotel_name">Tahanan ni Aling Meding Hotel</span> is a tribute to the Borja sibling's 
    parents, especially their mother (Aling Meding), who kept hearth and home warm. The hotel is in 
    fact thier very own mansion for relaxation and family reunions and other events when they fly in from the States. 
    But now when you are in San Pablo City, it is your second home. With gracious hospitality and courteous
    service from Tahanan's staff, your stay in San Pablo's secret hide-away will surely be an experience
    to savor and remember.
  </p>

  <div class="mainslider_container">
  <div id="slider1_container" style="position: relative; top: 0px; left: 0px; width: 600px; height: 300px;">
    <div u="slides" style="cursor: move; position: absolute; overflow: hidden; left: 0px; top: 0px; width: 600px; height: 300px;">
      <div><img class="img-responsive" u="image" src="/assets/pool2.jpg" /></div>
      <div><img class="img-responsive" u="image" src="/assets/entrance-chairs.jpg" /></div>
      <div><img class="img-responsive" u="image" src="/assets/bulwagan.jpg" /></div>
      <div><img class="img-responsive" u="image" src="/assets/bulwagan2.jpg" /></div>
      <div><img class="img-responsive" u="image" src="/assets/pool.jpg" /></div>
      <div><img class="img-responsive" u="image" src="/assets/viewdeck1.jpg" /></div>
      <div><img class="img-responsive" u="image" src="/assets/banahaw1.jpg" /></div>
      <div><img class="img-responsive" u="image" src="/assets/banahaw2.jpg" /></div>
    </div>

    <!-- Arrow Left -->
    <span u="arrowleft" class="jssora19l" style="width: 50px; height: 50px; top: 180px; left: 8px;"></span>
    <!-- Arrow Right -->
    <span u="arrowright" class="jssora19r" style="width: 50px; height: 50px; top: 180px; right: 8px"></span>

    <!-- bullet navigator container -->
    <div u="navigator" class="jssorb14" style="position: absolute; bottom: 5px; right: -410px;">
      <!-- bullet navigator item prototype -->
      <div u="prototype" style="position: absolute; width: 15px; height: 15px;"></div>
    </div>
  </div>
  </div>

</div>