<div class="inner_body">
<div class="container">
  <h3>Packages</h3>

  <div class="row">
    <div class="col-sm-6">
      <img src="/assets/packages-functionhall.jpg" class="img-responsive pkg_image" />
      <h5>Café Bulwagan</h5>
      <ul>
        <li>Rent: Php 15,000.00 (3 hours)</li>
        <li>Capacity: 100-120 people</li>
        <li>Succeeding Hour: Php 1,500.00 per hour</li>
      </ul>
    </div>

    <div class="col-sm-6">
      <img src="/assets/packages-conferenceroom.jpg" class="img-responsive pkg_img" />
      <h5>Conference Hall</h5>
      <ul>
        <li>Rent: Php 6,000.00 (3 hours)</li>
        <li>Capacity: 40-50 people</li>
        <li>Succeeding Hour: Php 1,500.00 per hour</li>
      </ul>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-6">
      <img src="/assets/packages-viewdeck.jpg" class="img-responsive pkg_img" />
      <h5>View Deck</h5>
      <ul>
        <li>Rent: Php 15,000.00 (3 hours)</li>
        <li>Capacity: 120-150 people</li>
        <li>Succeeding Hour: Php 1,500.00 per hour</li>
      </ul>
    </div>

    <div class="col-sm-6 cater_tour_container">
      <h5>Catering Package</h5>
      <ul>
        <li>Place Included: Php 45,000.00 for 100 people</li>
        <li>Additional Person: Php 450.00</li>
        <li>Number of Hours: 3</li>
        <li>Succeeding Hour: Php 1,500.00 per hour</li>
      </ul>

      <h5>Tour Package</h5>
      <ul>
        <li>Room accommodation for 2 poeple</li>
        <li>With breakfast and dinner for 2 People</li>
        <li>Tour and lunch at the Pandin Lake</li>
        <li>Package Price: Php 5,000.00</li>
      </ul>
    </div>
  </div>

  <h3>Hotel Facilities & Services</h3>
  <ul>
    <div class="row">
      <div class="col-sm-5">
        <li>WIFI Facility, vonage and magic jack for international calls</li>
        <li>Conference Room</li>
        <li>Buiness Center</li>
        <li>View Deck</li>
        <li>Welcome Drinks</li>
        <li>Van Rental</li>
      </div>
      <div class="col-sm-3">
        <li>Laundry and Pressing</li>
        <li>Safety Deposit Vault</li>
        <li>Sound System</li>
        <li>Massage</li>
        <li>Photocopying Facility</li>
        <li>Tour Desk</li>
      </div>
      <div class="col-sm-3">
        <li>Lobby</li>
        <li>Parking Facility</li>
        <li>Banquet Facility</li>
        <li>Pool (7AM - 10PM)</li>
      </div>
    </div>
  </ul><br>

</div>
</div>