<div class="inner_body">
<div class="container">
  <h3>Guest Rooms</h3>
  <p>
    You may choose to stay in your room to lounge and relax in peaceful thoughts of calm and serenity.
    Tahanan's 10-room facility assures you there will never be a rowdy crowd to jar your meditations.
  </p>
  <p>
    <a href="#room_details">View Room Facilities & Details</a>
  </p><br>

  <div class="rooms_container">
  <div class="inner_rooms_container">
    <div class="row">
      <div class="col-sm-4">
        <a class="room_popup" href="http://www.tahananhotel.com/skins/default/images/rooms/large/familyRoom1.jpg" title="Family Room1">
          <img src="/assets/familyroom.png" style="border:1px solid #eee;" class="img-responsive image-border">
        </a>
        <h5>Family Room1</h5>
        <p>
          - Good for: 6 people<br>
          - Max. Capacity: 8 people<br>
          - Price: Php 7,000.00<br><br>
        </p>
      </div>
      <div class="col-sm-4">
        <a class="room_popup" href="http://www.tahananhotel.com/skins/default/images/rooms/large/familyRoom2.jpg" title="Family Room2">
          <img src="/assets/familyroom2.png" style="border:1px solid #eee;" class="img-responsive" />
        </a>
        <h5>Family Room2</h5>
        <p>
          - Good for: 6 people<br>
          - Max. Capacity: 8 people<br>
          - Price: Php 7,000.00<br><br>
        </p>
      </div>
      <div class="col-sm-4">
        <a class="room_popup" href="http://www.tahananhotel.com/skins/default/images/rooms/large/suiteRoom1.jpg" title="Suite Room">
          <img src="/assets/suiteroom.png" style="border:1px solid #eee;" class="img-responsive" />
        </a>
        <h5>Suite Room</h5>
        <p>
          - Good for: 4 people<br>
          - Max. Capacity: 6 people<br>
          - Price: Php 5,000.00<br>
        </p>
      </div>
    </div><br>
    <div class="row">
      <div class="col-sm-4">
        <a class="room_popup" href="http://www.tahananhotel.com/skins/default/images/rooms/large/honeymoonRoom.jpg" title="Honeymoon Room">
          <img src="/assets/honeymoonroom.png" style="border:1px solid #eee;" class="img-responsive" />
        </a>
        <h5>Honeymoon Room</h5>
        <p>
          - Good for: 2 people<br>
          - Max. Capacity: 3 people<br>
          - Price: Php 3,500.00<br><br>
        </p>
      </div>
      <div class="col-sm-4">
        <a class="room_popup" href="http://www.tahananhotel.com/skins/default/images/rooms/large/superiorRoom1.jpg" title="Superior Room">
          <img src="/assets/superiorroom.png" style="border:1px solid #eee;" class="img-responsive" />
        </a>
        <h5>Superior Room</h5>
        <p>
          - Good for: 2 people<br>
          - Max. Capacity: 3 people<br>
          - Price: Php 3,500.00<br><br>
        </p>
      </div>
      <div class="col-sm-4">
        <a class="room_popup" href="http://www.tahananhotel.com/skins/default/images/rooms/large/executiveRoom3.jpg" title="Executive Room1">
          <img src="/assets/executiveroom.png" style="border:1px solid #eee;" class="img-responsive" />
        </a>
        <h5>Executive Room1</h5>
        <p>
          - Good for: 2 people<br>
          - Max. Capacity: 3 people<br>
          - Price: Php 3,000.00<br>
        </p>
      </div>
    </div><br>
    <div class="row">
      <div class="col-sm-4">
        <a class="room_popup" href="http://www.tahananhotel.com/skins/default/images/rooms/large/executiveRoom1.jpg" title="Executive Room2">
          <img src="/assets/executiveroom2.png" style="border:1px solid #eee;" class="img-responsive" />
        </a>
        <h5>Executive Room2</h5>
        <p>
          - Good for: 2 people<br>
          - Max. Capacity: 3 people<br>
          - Price: Php 3,000.00<br><br>
        </p>
      </div>
      <div class="col-sm-4">
        <a class="room_popup" href="http://www.tahananhotel.com/skins/default/images/rooms/large/executiveRoom2.jpg" title="Executive Room3">
          <img src="/assets/executiveroom3.png" style="border:1px solid #eee;" class="img-responsive" />
        </a>
        <h5>Executive Room3</h5>
        <p>
          - Good for: 2 people<br>
          - Max. Capacity: 3 people<br>
          - Price: Php 3,000.00<br><br>
        </p>
      </div>
      <div class="col-sm-4">
        <a class="room_popup" href="http://www.tahananhotel.com/skins/default/images/rooms/large/deluxeRoom1.jpg" title="Deluxe Room">
          <img src="/assets/deluxeroom.png" style="border:1px solid #eee;" class="img-responsive" />
        </a>
        <h5>Deluxe Room</h5>
        <p>
          - Good for: 2 people<br>
          - Max. Capacity: 3 people<br>
          - Price: Php 2,500.00<br>
        </p>
      </div>
    </div>
  </div>
  </div>

  <div class="row"><br>
    <div id="room_details" style="padding-top:50px;">
    <div class="col-sm-4">
      <h3>Room Facilities</h3>
      <ul>
        <li>Wi-Fi Activated</li>
        <li>Cable TV</li>
        <li>Complimentary Breakfast</li>
        <li>Hot & Cold Shower</li>
        <li>Individual Mini Refrigerator</li>
        <li>PABX Telephone Line System</li>
        <li>Air Condition Unit</li>
      </ul>       
    </div>
    <div class="col-sm-4">
      <h3>Room Details</h3>
      <ul>
        <li>Room price incldues breakfast.</li>
        <li>Check In Time: 2:00 PM</li>
        <li>Check Out Time: 12:00 NN</li>
        <li>Additional Person (with breakfast): Php 1,000/00</li>
        <li>Additional Bed: Php 500.00</li>
      </ul>
    </div>
    <div class="col-sm-4">
      <h3>Customer Policies</h3>
      <ul>
        <li>7 days before arrival; no refund will be made without notification.</li>
        <li>Children 0-6 years old are free of charge.</li>
        <li>7 years old and above will be charged as an adult.</li>
      </ul>
    </div>
  </div>
  </div><br>
</div>
</div>

<%= render :partial => "contactinfo" %>