<div class="inner_body">
<div class="container">
  <div class="row">
    <div class="col-sm-8 col-sm-offset-2">
      <h3>Testimonials</h3>
      <h5>- M.Tan</h5>
      <p>
        On June 13, 2011, a group of us stayed in your hotel. First of all, I was once a resident of San Pablo City in the mid-60's. I have loved that city because of the natural wonders of the seven lakes it has to offer. Since then, I have visited and passed by the area on several occasions from the early 90's to present. Recently, though, I needed a place to stay. I remember looking at some FB postings of friends who made mention of Tahanan ni Aling Meding.......true enough, there is such a "home" away from home. The best part of this, is it is located fronting my favorite lake among the seven, Sampaloc Lake. Vaguely, I remember being able to walk part of the way "around the Lake" during our times..... reality is, that was a very memorable lake in the heart of the city!
      </p>
      <p>
        So, given the background, my heart leaped with joy when I found Tahan ni Aling Meding. I booked for an overnight stay.....felt safe, had a comfortable/restful evening in an air-conditioned room with warm showers, had a home-cooked breakfast in the morning....and took home what we could of the memories of our stay, pictures on the veranda overlooking our beloved Sampaloc Lake!
      </p>
      <p>
        Our group had an opportunity to talk/mingle with one of the owners who was very accommodating, friendly, and "felt-like family" to us. The staff were very respectful and quick to respond to our questions/inquiries. The spacious breakfast hall is clean, fresh brewed coffee (Barako) was served with sweet fresh pineapple and Filipino/American choices for breakfast!
      </p>
      <p>
        Now I know that if I have a tour towards Laguna, I have a place to stay. More power to you, continue your good work, and it was so nice to have met you and your staff.
      </p>
      <br>

      <h5>- Emil</h5>
      <p>
        Great place just to relax. You seem so far away from everything, yet there's so many things to do. Enjoy the Sampoloc lake and vendors on the weekends. Great place. Lot's of restaurant's nearby. Sampaloc Lake stroll and enjoy the vendors. The place is in the heart of Sampaloc Lake, but yet secluded enough from all the busy traffic and noise. I enjoy the 24 hour security they provide. Great view of the Lake and Mountains. Heavenly place for sure!
      </p>
      <br>

      <h5>- Ivan</h5>
      <p>
        i was in TAHANAN last march kasbayan ko si DJ, super and ganda tlaga dun lalo na ung view - the lake and the mountains, ideal ang ambiance, the beatiful garden and surroundings, the nostalgic heritage, the peace and tranquility. dun ulit ako magstay paguwi ko ng pinas this september sama ko mga friends ko.=)
      </p>
      <br>

      <h5>- E.Cristobal</h5>
      <p>
        I think this is one of the BEST place to stay in the Philippines. The mysterious Sampoloc Lake, near great restaurants, Hidden Valley and Pagsanjan Falls. You can't beat it. One hour away from Manila without traffic. It's a great place to unwind and relax.
      </p>
      <br>

      <h5>- znjndmawn</h5>
      <p>
        My family got to stay at Tahanan ni Aling Meding last Easter Sunday.
      </p>
      <p>
        Anyways, we gave TNAM a call and asked for directions but had challenges in locating the place since it was already dark. Surprisingly, TNAM took the initiative to pick us up at our current location (Puregold). Good thinking on TNAM's part since the road leading to the resort was pitch black.
      </p>
      <p>
        The owner, Wilson, instructed the bellboy to accompany my wife, son and helper to our rooms so that they can settle in. Great point since we were already exhausted from the trip. After some clarifications/negotiations, I went up and told my wife that our room was upgraded. =)
      </p>
      <p>
        If I remember correctly, our room was called Sampaguita. It had single and double sized beds, Sharp TV with cable, Carrier a/c, wifi, refrigerator and other basic stuff. To our delight, there were several extra pillows stored in the cabinets. The bathroom was great, above average in size and had a working temperature controlled water system.
      </p>
      <p>
        Next day, finally went out to the balcony to get a glimpse of the hotel and Sampaloc lake. Nice scenic view indeed from both sides although wasn't able to stay out long due to the bright sunlight. The pool looked nice but we weren't able to take a dip though.
      </p>
      <p>
        Had a little chat with Wilson...background of the resort, family, life in US vs Philippines and a little bit of politics. Since the reception/dining/lounge area was quite spacious, my son roamed around a bit. They had unique furnishings especially the glass horse head, wooden swing and the Chinese jar that my son almost dropped.
      </p>
      <p>
        Overall experience was great. Very friendly staff and owner. If we would visit San Pablo, TNAM would be one of our top choices.
      </p>
    </div>
  </div>
  <br>
</div>
</div>

<%= render :partial => "contactinfo" %>